/*  --- Color ---- */
/*  ------- Linear Gradient -------  */
/*  ------- END Linear Gradient -------  */
/* ------ Transition --------*/
/*  --- END Transition ---  */
/*  ------ Display Flex ------- */
/*  ------ END Display Flex ------- */
/* ----- R E S P O N S I V E ------ */
@media screen and (max-width: 870px) {
  .container header h1 {
    font-size: 240%;
  }

  main .listView {
    width: 80%;
  }
  main .listView .description .zaposleni p {
    padding: 2%;
  }

  /* --- Grid --- */
  .viewTwo {
    width: 90%;
  }
  .viewTwo .changeView .zaposleni {
    width: 48%;
  }
}
@media screen and (max-width: 590px) {
  .container .allButton {
    font-size: 70%;
  }
  .container header h1 {
    font-size: 200%;
  }

  main .naslov {
    padding: 6% 0;
  }
  main .naslov h1 {
    padding-bottom: 3%;
    font-size: 115%;
  }
  main .naslov input {
    font-size: 70%;
  }
  main .listView {
    width: 60%;
  }
  main .listView .description .zaposleni img {
    float: none;
  }
  main .listView .description .zaposleni h2 {
    font-size: 100%;
  }
  main .listView .description .zaposleni p {
    font-size: 75%;
  }

  /*  --- Grid ---  */
  .container main .changeView .zaposleni {
    width: 95%;
    margin: 2% 1%;
  }

  footer p {
    font-size: 75%;
  }
}
@media screen and (max-width: 450px) {
  .container main .listView {
    width: 90%;
  }
}
/* --- All --- */
.container {
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.clearfix {
  clear: both;
}

.allButton {
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  background-color: #f6f6f6;
  color: #3b3738;
  border-radius: 5px;
  -webkit-transition: background 0.2s, color 0.5s ease;
  -moz-transition: background 0.2s, color 0.5s ease;
  -ms-transition: background 0.2s, color 0.5s ease;
  -o-transition: background 0.2s, color 0.5s ease;
  transition: background 0.2s, color 0.5s ease;
}
.allButton:hover {
  background-color: #3b3738;
  color: #f6f6f6;
}

/* --- Header --- */
header {
  background: linear-gradient(0deg, rgba(198, 61, 15, 0.6), rgba(198, 61, 15, 0.6)), url("http://m.wsandb.co.uk/IMG/954/185954/softcat-employees.jpg") fixed;
  text-align: center;
  height: 90vh;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #f6f6f6;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  font-size: 290%;
  max-width: 80%;
}

/* --- Main --- */
main {
  color: #f6f6f6;
  background: -webkit-linear-gradient(to bottom right, #8f2c0b, #c63d0f);
  background: -o-linear-gradient(to bottom right, #8f2c0b, #c63d0f);
  background: -moz-linear-gradient(to bottom right, #8f2c0b, #c63d0f);
  background: linear-gradient(to bottom right, #8f2c0b, #c63d0f);
  width: 100%;
}

/* --- Naslov i button --- */
.naslov {
  text-align: center;
  padding: 3% 0;
}
.naslov h1 {
  text-decoration: underline;
  padding-bottom: 1%;
}
.naslov input {
  margin-top: 2%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.naslov input:hover {
  background-color: #cec0c4;
}

/* --- Article and section --- */
.listView {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.description .zaposleni {
  float: left;
  width: 100%;
  border: 1px solid #3b3738;
  border-radius: 7px;
  margin: 2% 0;
  box-shadow: 0 0 5px #3b3738;
}
.description .zaposleni img {
  padding: 1%;
  border-radius: 15px;
  float: left;
}
.description .zaposleni h2 {
  padding: 3% 0 5% 0;
}
.description .zaposleni span {
  font-weight: bold;
  color: #e3dacf;
}

/* --- Change view ... --- */
.viewTwo {
  width: 80%;
}

.changeView .zaposleni {
  width: 31%;
  border: 0;
  border-radius: 0;
  margin: 2% 1%;
}
.changeView .zaposleni img {
  padding: 0;
  border-radius: 0;
  width: 100%;
}
.changeView .zaposleni p {
  font-size: 12px;
  padding: 3% 0;
}

/* --- Footer ---*/
footer {
  text-align: center;
  background-color: #3b3738;
  padding: 1% 0;
}
footer p {
  color: #f6f6f6;
}
